@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 1650px) and (max-width: 2560px)  {
div.contenedor {
	width: 90%;
}
	
}

@media screen and (min-width: 1200px)  and (max-width: 1650px) {

	.slide{
		display: flex;
		padding: 20px 20px;
		justify-content: center;
	}

	.img{
		width: 60%;
	}
	.img img{
		width: 100%;
	}
	.sub-menu{
		padding-right: 40px;
	}
	.img, .sub-menu, .img img{
		margin: auto;
	}
}

@media screen and (min-width: 1024px)  and (max-width: 1200px) {
	header{
		width: 100%;
	}

	nav li {
		display: block;
		float: left;
		margin-right: 15px;
		color: #1A3C9E;
		font-size: 14px;
		margin-right: 10px;
	}
	nav li a{
		margin-right: 10px;
	}

	nav li img{
		width: 40px;
		height: 40px;
		margin-top: -10px;
		margin-right: -13px;
	}
	.noticias{
		flex-wrap: wrap;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		justify-content: space-between;
	}
	div.columna {
		display: inherit;
		flex-direction: column;
		
		width: 80%;
		margin-top: 5px;
	}
	
	.columna img{
		
		margin-left: auto;
		margin-right: auto;
	}

	.slide{
		display: flex;
		padding: 20px 20px;
		justify-content: center;
	}

	.img{
		width: 60%;
	}
	.img img{
		width: 100%;
	}
	.sub-menu{
		padding-right: 40px;
	}
	.img, .sub-menu, .img img{
		margin: auto;
	}
	.col p {
		font-size: 15px;
		padding: 5px 5px;
	}
	.col img{
		width: 35px;
		height: 35px;
	}
	.der{
		margin-top: 40px;
	}

}
@media screen and (max-width: 768px) {


	nav.desktop {
		display: none;
	}
	nav.responsive {
		display: block;
	}
	nav.responsive img {
		margin-right: 30px;
		margin-top: -40px;
		width: 50px;
		height: 50px;
	}
	.noticias{
		flex-wrap: wrap;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		justify-content: space-between;
	}
	div.columna {
		display: inherit;
		flex-direction: column;
		
		width: 80%;
		margin-top: 5px;
	}
	
	.columna img{
		
		margin-left: auto;
		margin-right: auto;
	}

	.slide{
		display: flex;
		padding: 20px 20px;
		justify-content: center;
	}

	.img{
		width: 50%;
	}
	.img img{
		width: 100%;
	}
	.sub-menu{
		padding-right: 40px;
	}
	.img, .sub-menu, .img img{
		margin: auto;
	}

	.col p {
		font-size: 10px;
		padding: 5px 5px;
	}
	.col img{
		width: 35px;
		height: 35px;
	}
	.r{
		padding: 15px 15px;
	}
	.der{
		margin-top: 40px;
	}

}
@media screen and (max-width: 640px) {

	
	nav.desktop {
		display: none;
	}
	nav.responsive {
		display: block;
	}
	nav.responsive img {
		margin-right: 30px;
		margin-top: -40px;
		width: 50px;
		height: 50px;
	}
	header img {
	    float: left;
	    margin-top: 27px;
    }
	.noticias{
		flex-wrap: wrap;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		justify-content: space-between;
	}
	div.columna {
		display: inherit;
		flex-direction: column;
		
		width: 80%;
		margin-top: 5px;
	}
	
	.columna img{
		
		margin-left: auto;
		margin-right: auto;
	}
	
	
	.slide{
		display: flex;
		padding: 20px 20px;
		justify-content: center;
	}

	.img{
		width: 50%;
	}
	.img img{
		width: 100%;
	}
	.sub-menu{
		padding-right: 40px;
	}
	.img, .sub-menu, .img img{
		margin: auto;
	}
	.col p {
		font-size: 10px;
	}
	.col img{
		width: 35px;
		height: 35px;
	}
	.der{
		margin-top: 40px;
	}

	
}